body {
   margin: 0;
   padding: 0;
   /* background-color: black; */
   display: flex;
   flex-direction:column;
  font-family: sans-serif;
  min-height: 100vh;

 }

 header {
   position: relative;
   height: 25vw;
   overflow: hidden;
 }

 
 .header-video {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 100%;
   min-height: 100%;
 }

 .header-title {
  position: absolute;
  top: 35%;
  left: 5%;
  font-weight: 900;
  font-size: 8vw;
  line-height: 1;
  -webkit-text-stroke: 2px white;
  opacity: 0.9;
  color: transparent;
  margin-left: 10vw;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to bottom, transparent 50%, black 50%);
  transition: background-position ease-out 0.4s;
  background-size: 1% 200%;
}
/* 
.header-title {
  position: absolute;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: auto;
  margin-bottom: auto;
  width: 80vw; 
  font-weight: 900;
  font-size: 8vw;
} */

.header-title:hover {
  background-position: 0 -100%;
}

.gallery {
  /* flex: 2; */
} 

 .gallery-images {
   display: grid;
   justify-content: center;
   /* padding: 20px; */
 }


 .gallery-image {
  /* width: 50%; */
  height: auto;
  margin: 20px;
}

 footer {
  /* position: relative; */
  bottom: 0;
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}
.copyright {
  font-size: 12px;
}
.email-link {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 2.5vw;
  /* color: transparent; */
}

.youtube-video {
  margin: 3% 0;
  /* overflow:hidden; 
  padding-bottom:56.25%; 
  position:relative; 
  height:0; */
  /* margin-bottom: 5%; */
  /* padding-bottom: 30%; */
}


.youtube-video iframe {
  margin: 0 auto;
  display: block;
  aspect-ratio: 16 / 9;
  width: 70%;
  height: 100%;
}